<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.xjpackcompose">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".PokemonApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.XJpackCompose"
        android:usesCleartextTraffic="true">

        <activity android:name="com.example.xjpackcompose.presentation.ui.activity.BottomNavActivity" />
        <activity
            android:name="com.example.xjpackcompose.presentation.ui.activity.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.XJpackCompose.NoActionBar" />

        <activity
            android:name="com.example.xjpackcompose.presentation.ui.activity.PokemonActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.XJpackCompose.NoActionBar" />

        <activity
            android:name="com.example.xjpackcompose.presentation.ui.activity.AppLaunchActivity"
            android:exported="true">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>

        <activity
            android:name="com.example.xjpackcompose.presentation.ui.activity.CanvasActivity"
            android:theme="@style/Theme.XJpackCompose.NoActionBar" />

        <activity
            android:name="com.example.xjpackcompose.presentation.ui.activity.AnimationActivity"
            android:theme="@style/Theme.XJpackCompose.NoActionBar">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>

        <activity
            android:name="com.example.xjpackcompose.presentation.ui.activity.CustomViewActivity"
            android:theme="@style/Theme.XJpackCompose.NoActionBar">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>

        <activity
            android:name="com.example.xjpackcompose.presentation.rabbit.RabbitsActivity"
            android:theme="@style/Theme.XJpackCompose.NoActionBar">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>

        <activity
            android:name=".presentation.ui.activity.RuntimePermissionActivity"
            android:theme="@style/Theme.XJpackCompose.NoActionBar" />

        <activity
            android:name=".presentation.ui.activity.effect_handlers.EffectHandlersActivity"
            android:exported="true"
            android:theme="@style/Theme.XJpackCompose.NoActionBar">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>

        <activity
            android:name=".presentation.ui.activity.flow.FlowSampleActivity"
            android:exported="true"
            android:theme="@style/Theme.XJpackCompose.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>